.bar-chart {
}

.default-color0.chart-bar {
    -fx-bar-fill: red;
}

.default-color1.chart-bar {
    -fx-bar-fill: green;
}

.default-color2.chart-bar {
    -fx-bar-fill: blue;
}

.axis {
    -fx-tick-length: 32;
    -fx-minor-tick-length: 16;
}
